.sider
  .inner-menu
    ul 
      li
        a(href=`/admin/dashboard`) Danh sách nhân viên
      li
        a(href=`/admin/device`) Danh sách thiết bị
      li
        a(href=`/admin/logMonitor`) Trang giám sát
      li
        a(href='/admin/account') Trang tài khoản
      